# Raecel Telecomunication

In [6]:
pip install pandas

Requirement already satisfied: pandas in c:\users\my laptop\appdata\local\programs\python\python312\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\my laptop\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.2.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\my laptop\appdata\roaming\python\python312\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\my laptop\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\my laptop\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\my laptop\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

# Print out the first five rows of the data. Hint: consider using the head() function

In [33]:
# Import pandas library
import pandas as pd

# Load the data
file_path = 'telecom_churn.csv'  
churn_data = pd.read_csv(file_path)

# Display the first five rows
df = pd.read_csv("telecom_churn.csv")
df.head()

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,KS,128,415,No,Yes,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,No,Yes,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,No,No,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,408,Yes,No,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,415,Yes,No,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False

# Print out the last five rows of the data. Hint: consider using the tail() function

In [34]:
df = pd.read_csv("telecom_churn.csv")
df.tail()

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
3328,AZ,192,415,No,Yes,36,156.2,77,26.55,215.5,126,18.32,279.1,83,12.56,9.9,6,2.67,2,False
3329,WV,68,415,No,No,0,231.1,57,39.29,153.4,55,13.04,191.3,123,8.61,9.6,4,2.59,3,False
3330,RI,28,510,No,No,0,180.8,109,30.74,288.8,58,24.55,191.9,91,8.64,14.1,6,3.81,2,False
3331,CT,184,510,Yes,No,0,213.8,105,36.35,159.6,84,13.57,139.2,137,6.26,5.0,10,1.35,2,False
3332,TN,74,415,No,Yes,25,234.4,113,39.85,265.9,82,22.60,241.4,77,10.86,13.7,4,3.70,0,False

# What is the shape of the data?

In [35]:
print (df.shape)

(3333, 20)

# How many columns are present in the dataset?

In [36]:
print (df.columns)

Index(['State', 'Account length', 'Area code', 'International plan',
       'Voice mail plan', 'Number vmail messages', 'Total day minutes',
       'Total day calls', 'Total day charge', 'Total eve minutes',
       'Total eve calls', 'Total eve charge', 'Total night minutes',
       'Total night calls', 'Total night charge', 'Total intl minutes',
       'Total intl calls', 'Total intl charge', 'Customer service calls',
       'Churn'],
      dtype='object')

# Are there null values in the dataset?

In [39]:
data = pd.read_csv('telecom_churn.csv')

# Check for null values in each column
print(data.isnull().sum())

State                     0
Account length            0
Area code                 0
International plan        0
Voice mail plan           0
Number vmail messages     0
Total day minutes         0
Total day calls           0
Total day charge          0
Total eve minutes         0
Total eve calls           0
Total eve charge          0
Total night minutes       0
Total night calls         0
Total night charge        0
Total intl minutes        0
Total intl calls          0
Total intl charge         0
Customer service calls    0
Churn                     0
dtype: int64

In [40]:
# Check for null values across the entire DataFrame
print(data.isnull().values.any())

False

# Print out the description of the numerical columns. Hint: Use the describe() function.

In [44]:
df.describe ()

,Account length,Area code,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls
count,3333.00,3333.00,3333.00,3333.00,3333.00,3333.00,3333.00,3333.00,3333.00,3333.00,3333.00,3333.00,3333.00,3333.00,3333.00,3333.00
mean,101.06,437.18,8.10,179.78,100.44,30.56,200.98,100.11,17.08,200.87,100.11,9.04,10.24,4.48,2.76,1.56
std,39.82,42.37,13.69,54.47,20.07,9.26,50.71,19.92,4.31,50.57,19.57,2.28,2.79,2.46,0.75,1.32
min,1.00,408.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,23.20,33.00,1.04,0.00,0.00,0.00,0.00
25%,74.00,408.00,0.00,143.70,87.00,24.43,166.60,87.00,14.16,167.00,87.00,7.52,8.50,3.00,2.30,1.00
50%,101.00,415.00,0.00,179.40,101.00,30.50,201.40,100.00,17.12,201.20,100.00,9.05,10.30,4.00,2.78,1.00
75%,127.00,510.00,20.00,216.40,114.00,36.79,235.30,114.00,20.00,235.30,113.00,10.59,12.10,6.00,3.27,2.00
max,243.00,510.00,51.00,350.80,165.00,59.64,363.70,170.00,30.91,395.00,175.00,17.77,20.00,20.00,5.40,9.00

# What is the churn distribution among the customers?

In [45]:
df["Churn"].value_counts ()

Churn
False    2850
True      483
Name: count, dtype: int64

# How much time do churned users and non-churned users spend on the network during the day, evening, and night on average?

In [3]:
import pandas as pd

# Load the dataset
file_path = 'telecom_churn.csv' 
churn_data = pd.read_csv(file_path)

print(churn_data.columns)

Index(['State', 'Account length', 'Area code', 'International plan',
       'Voice mail plan', 'Number vmail messages', 'Total day minutes',
       'Total day calls', 'Total day charge', 'Total eve minutes',
       'Total eve calls', 'Total eve charge', 'Total night minutes',
       'Total night calls', 'Total night charge', 'Total intl minutes',
       'Total intl calls', 'Total intl charge', 'Customer service calls',
       'Churn'],
      dtype='object')

In [7]:
required_columns = ['Churn', 'Total day minutes', 'Total eve minutes', 'Total night minutes']
if all(col in churn_data.columns for col in required_columns):
    churn_averages = churn_data.groupby('Churn')[['Total day minutes', 'Total eve minutes', 'Total night minutes']].mean()
    print("Average time spent on the network by churned and non-churned users:")
    print(churn_averages)
else:
    print(f"Dataset is missing one or more required columns: {required_columns}")

Average time spent on the network by churned and non-churned users:
       Total day minutes  Total eve minutes  Total night minutes
Churn
False         175.175754         199.043298           200.133193
True          206.914079         212.410145           205.231677

# What is the average total charge (day, evening, night, international) for customers who churned versus those who did not?

In [9]:
# Required columns for analysis
required_columns = ['Churn', 'Total day charge', 'Total eve charge', 'Total night charge', 'Total intl charge']

# Check if all required columns are present
if all(col in churn_data.columns for col in required_columns):
    # Group by 'Churn' and calculate the average for the total charges
    churn_avg_charges = churn_data.groupby('Churn')[['Total day charge', 'Total eve charge', 'Total night charge', 'Total intl charge']].mean()

    print("Average total charges (day, evening, night, international) by churn status:")
    print(churn_avg_charges)
else:
    print(f"Dataset is missing one or more required columns: {required_columns}")

Average total charges (day, evening, night, international) by churn status:
       Total day charge  Total eve charge  Total night charge  \
Churn
False         29.780421         16.918909            9.006074
True          35.175921         18.054969            9.235528

       Total intl charge
Churn
False           2.743404
True            2.889545

# How do daytime, evening, and nighttime usage metrics compare among customers who churned vs. those who stayed?

In [10]:
# Required columns for analysis
required_columns = ['Churn', 'Total day minutes', 'Total eve minutes', 'Total night minutes']

# Check if all required columns are present
if all(col in churn_data.columns for col in required_columns):
    # Group by 'Churn' and calculate the average for each usage metric
    churn_avg_usage = churn_data.groupby('Churn')[['Total day minutes', 'Total eve minutes', 'Total night minutes']].mean()

    print("Comparison of daytime, evening, and nighttime usage metrics by churn status:")
    print(churn_avg_usage)
else:
    print(f"Dataset is missing one or more required columns: {required_columns}")

Comparison of daytime, evening, and nighttime usage metrics by churn status:
       Total day minutes  Total eve minutes  Total night minutes
Churn
False         175.175754         199.043298           200.133193
True          206.914079         212.410145           205.231677

# Are there significant differences in churn rates across different states or area codes?

In [13]:


# Required columns for analysis
required_columns = ['Churn', 'State', 'Area code']

# Check if all required columns are present
if all(col in churn_data.columns for col in required_columns):
    # Calculate churn rates by State
  
    state_churn_rates = churn_data.groupby('State')['Churn'].mean() * 100  # Percentage of churned customers
    print("Churn rates by State:")
    print(state_churn_rates.sort_values(ascending=False))

    print("\n")

    # Calculate churn rates by Area Code
    area_code_churn_rates = churn_data.groupby('Area code')['Churn'].mean() * 100  # Percentage o
    print("area_code_churn_rates:")
    print(area_code_churn_rates.sort_values(ascending=False))
    print("\n")
else:
    print(f"Dataset is missing one or more required columns: {required_columns}")

Churn rates by State:
State
CA    26.470588
NJ    26.470588
TX    25.000000
MD    24.285714
SC    23.333333
MI    21.917808
MS    21.538462
WA    21.212121
NV    21.212121
ME    20.967742
MT    20.588235
AR    20.000000
KS    18.571429
NY    18.072289
MN    17.857143
PA    17.777778
MA    16.923077
CT    16.216216
NC    16.176471
NH    16.071429
GA    14.814815
OK    14.754098
DE    14.754098
OR    14.102564
UT    13.888889
CO    13.636364
KY    13.559322
SD    13.333333
OH    12.820513
FL    12.698413
IN    12.676056
ID    12.328767
WY    11.688312
MO    11.111111
VT    10.958904
AL    10.000000
ND     9.677419
NM     9.677419
WV     9.433962
TN     9.433962
DC     9.259259
RI     9.230769
WI     8.974359
IL     8.620690
NE     8.196721
LA     7.843137
IA     6.818182
VA     6.493506
AZ     6.250000
AK     5.769231
HI     5.660377
Name: Churn, dtype: float64


area_code_churn_rates:
Area code
510    14.880952
408    14.558473
415    14.259819
Name: Churn, dtype: float64

# Do customers with an international plan have different usage patterns compared to those without?

In [15]:
# Check if all required columns are present
if all(col in churn_data.columns for col in required_columns):
    # Group by 'Intl Plan' and calculate the average for each usage metric
    intl_plan_usage = churn_data.groupby('International plan')[['Total day minutes', 'Total eve minutes', 'Total night minutes', 'Total intl minutes']].mean()
    print("Usage patterns for customers with and without an international plan:")
    print(intl_plan_usage)
else:
    print(f"Dataset is missing one or more required columns: {required_columns}")

Usage patterns for customers with and without an international plan:
                    Total day minutes  Total eve minutes  Total night minutes  \
International plan
No                         178.893887         200.663090           201.350831
Yes                        187.986997         203.936842           196.410217

                    Total intl minutes
International plan
No                           10.195349
Yes                          10.628173

# Who engages customer care the most among the customers?

In [19]:
# Required columns for analysis
required_columns = ['Customer service calls', 'Churn', 'International plan']

# Check if all required columns are present
if all(col in churn_data.columns for col in required_columns):
    # Total customer service calls grouped by churn status
    churn_service_calls = churn_data.groupby('Churn')['Customer service calls'].mean()

    print("Average customer service calls by churn status:")
    print(churn_service_calls)
    print("\n")

    # Total customer service calls grouped by international plan
    intl_service_calls = churn_data.groupby('International plan')['Customer service calls'].mean()

    print("Average customer service calls by international plan status:")
    print(intl_service_calls)
else:
    print(f"Dataset is missing one or more required columns: {required_columns}")

Average customer service calls by churn status:
Churn
False    1.449825
True     2.229814
Name: Customer service calls, dtype: float64


Average customer service calls by international plan status:
International plan
No     1.573422
Yes    1.464396
Name: Customer service calls, dtype: float64

# How many customers are on an International plan and how many are not?

In [21]:
# Check if the required column is present
if 'International plan' in churn_data.columns:
    # Count the number of customers in each group (Yes/No)
    intl_plan_counts = churn_data['International plan'].value_counts()

    print("Number of customers by International plan status:")
    print(intl_plan_counts)
else:
    print("The dataset is missing the 'International plan' column.")

Number of customers by International plan status:
International plan
No     3010
Yes     323
Name: count, dtype: int64

# How many customers have voicemail plans and how many do not?

In [24]:
# Check if the required column is present
if 'Voice mail plan' in churn_data.columns:
    # Count the number of customers in each group (Yes/No)
    voicemail_plan_counts = churn_data['Voice mail plan'].value_counts()

    print("Number of customers by Voice mail plan status:")
    print(voicemail_plan_counts)
else:
    print("The dataset is missing the 'Voice mail plan' column.")

Number of customers by Voice mail plan status:
Voice mail plan
No     2411
Yes     922
Name: count, dtype: int64

# What are the characteristics of loyal customers?

In [3]:
import pandas as pd
file_path = 'telecom_churn.csv'  
churn_data = pd.read_csv(file_path)

# Filter loyal customers (Churn == 0)
loyal_customers = churn_data[churn_data['Churn'] == 0]

# Analyze characteristics
if 'Voice mail plan' in churn_data.columns:
    # Proportion with voicemail plan
    voicemail_plan_loyal = loyal_customers['Voice mail plan'].value_counts(normalize=True) * 100
    print("Voice mail plan distribution among loyal customers:")
    print(voicemail_plan_loyal)
    print("\n")

if 'International plan' in churn_data.columns:
    # Proportion with international plan
    intl_plan_loyal = loyal_customers['International plan'].value_counts(normalize=True) * 100
    print("International plan distribution among loyal customers:")
    print(intl_plan_loyal)
    print("\n")

# Average usage metrics for loyal customers
usage_columns = ['Total day minute', 'Total eve minutes', 'Total night minutes', 'Total intl minutes']
if all(col in churn_data.columns for col in usage_columns):
    avg_usage_loyal = loyal_customers[usage_columns].mean()
    print("Average usage metrics for loyal customers:")
    print(avg_usage_loyal)
    print("\n")

# Average customer service calls for loyal customers
if 'Customer service calls' in churn_data.columns:
    avg_cust_service_calls_loyal = loyal_customers['Customer service calls'].mean()
    print("Average customer service calls for loyal customers:")
    print(avg_cust_service_calls_loyal)
    print("\n")

Voice mail plan distribution among loyal customers:
Voice mail plan
No     70.45614
Yes    29.54386
Name: proportion, dtype: float64


International plan distribution among loyal customers:
International plan
No     93.473684
Yes     6.526316
Name: proportion, dtype: float64


Average customer service calls for loyal customers:
1.4498245614035088